/* === Global Styles === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #000029; /* Dark PS5 vibe */
  color: #ffffff;
}

/* === Navigation === */
.ps5-nav {
  background: #000000;
  border-radius: 100px;
  border: 1px solid #0070D1;
  margin: 10px;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex-start;
  justify-content: center;
}

.ps5-nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.ps5-nav li {
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

.ps5-nav li:hover {
  color: #0070D1; /* PS5 blue accent */
}

/* === Carousel Styles === */
.carousel-container {
  position: relative;
  margin: 100px 20px 0;
  align-items: center;
  justify-content: center;
}

.carousel {
  overflow: visible;
}

.carousel-track {
  display: flex;
  gap: 2rem;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100px;
  height: 100px;
  background: #353535;
  border-radius: 10px;
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.carousel-item:hover,
.carousel-item.active {
  transform: scale(1.2);
  box-shadow: 0 0 20px #0070D1;
}

/* === Buttons === */
.carousel-btn {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.item-preview {
  width: 50%;
  height: 200px;
  background: #000000;
  border-radius: 5px;
  border: 0.5px solid rgb(0, 119, 255);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 40px;
  font-size: 1.2rem;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.item-preview:hover,
.item-preview.active {
  transform: scale(1.1);
  box-shadow: 0 0 20px #0070D1;
}

@media (min-width: 600px) {
  .ps5-nav {grid-area: 1 / span 6;}
  .carousel-item {grid-area: 2 / span 1;}
  .item-preview {grid-area: 2 / span 4;}
